/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

.title {
    letter-spacing: 2px;
    font-family: 'Playball', cursive;
    font-size: 60px;
    font-weight: 300;
}

a {
	text-decoration: none;
}


h3 {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-top: 0em;
    margin-bottom: .5em;
}

p {
	line-height: 1.4;
    margin: 0 0 1.5em;
    font-size: .99em;
    letter-spacing: 1px;
}


/* ================================= 
  Base Layout Styles
==================================== */

.container {
    width: 100%;
    margin: auto;
    background: rgb(0, 0, 0);
}

.main-header {
    text-align: center;
    padding: 2.7em 0; 
}

.content {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.website-container {
    text-align: center; 
    max-width: 430px;
    margin: 0 auto;
}

.website-container img {
    max-width: 100%;
    border-radius: 5px;
}

.button {
    display: flex;
	color: black;
	width: 50%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	padding: 20px 0;
	border-radius: .5em;
    background: rgb(161, 162, 162); 
    margin-bottom: auto;
    letter-spacing: 3px;
    position: relative;
}

.website {
	position: relative;
    line-height: 0;
    overflow: hidden;
}

img {
    height: 340px;
    width:  310px;
    margin-bottom: 3em;
}
/* ---- Photo Overlay ---- */

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
    left: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background: rgba(0,0,0);
    border-radius: 5px;
}



/* ================================= 
  Overlay Transition 
==================================== */

.overlay {
	opacity: 0;
	transition: opacity 0.5s; 
}

.overlay:hover {
	opacity: 1;
} 

.button {
    opacity: 0; 
    transition: opacity .3s .2s, background-color .3s, box-shadow .3s;
}
  
.overlay:hover .button {
    opacity: 1; 
}

.button:hover {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .7); 
}

@media (min-width: 1200px) { 

    img {
        height: 230px;
        width:  200px;
        margin: 0;
    }

    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: .9em;
    }

    .overlay {
        padding: 15px 5px 7px 5px;
    } 

    .button {
        font-size: .6em;
        letter-spacing: 2px;
        color: black; 
        padding: 15px 0;
        background: rgb(161, 162, 162); 
        margin-top: auto;
    }
    
    .content {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1240px;
    }
}
