/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

.main-header {
    margin: 15px 0;
}
.title {
    max-width: 340px;
    letter-spacing: 2px;
    font-family: 'Playball', cursive;
    font-size: 60px;
    font-weight: 300;
    cursor: pointer;
    color: rgb(164, 164, 164);
    transition: all .3s;
}

.title:hover {
    color: rgb(255, 255, 255);
}


.contact-btn {
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(164, 164, 164);
    transition: all .4s;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .85);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: black;
}

h3 {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-top: 0em;
    margin-bottom: .5em;
}

p {
	line-height: 1.4;
    margin: 0 0 1.5em;
    font-size: .99em;
    letter-spacing: 1px;
}


/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
    text-align: center;
    padding: 2em 0; 
}

.btn-outline-secondary {
    letter-spacing: 2px;
    width: 45%;
    opacity: 0;
}

img {
    height: 250px;
    width:  380px;
}

/* ---- Photo Overlay ---- */

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
    left: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background: rgba(0,0,0);
    border-radius: 5px;
}

/* ================================= 
  Overlay & Button Transitions 
==================================== */

.overlay {
	opacity: 0;
	transition: opacity 0.5s; 
}

.overlay:hover {
    opacity: 1;
} 

.overlay:hover .btn-outline-secondary {
    opacity: 1
}

.btn-outline-secondary {
    transition: opacity .3s .3s, background-color .3s, box-shadow .3s;
}

.btn-outline-secondary:hover {
    background-color: rgb(75, 75, 75);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .7); 
}

.modal-body,
.modal-title {
    color: black;
}

/* ========================================
            Social Media Footer & Icons
   ======================================== */

.social-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 8px;
}

/* ========================================
        MEDIA QUERY 755PX
   ======================================== */
   @media (min-width: 1000px) {
    #contact-button {
        margin-top: 90px;
    }
};
